body {
  margin: 0;
  min-height: 100vh;

  background-image: url("../img/nasalogo.jpg");
  background-size: cover;        /* fills the screen */
  background-position: center;   /* always centered */
  background-repeat: no-repeat;
  background-attachment: fixed;  /* stays in place when scrolling */
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Starter */
main>* {
    font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
        sans-serif;
    font-weight: normal;
    background-color: rgb(213, 223, 255);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
}

header.primary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  /* Longform */
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /* Single Value */
  padding: 40px;
  /* T/R/B/L */
  padding: 40px 40px 20px 40px;
  /* T/B | L/R */
  padding: 20px 40px;
} 

header.primary h1 {
  font-size: 2.4rem;
  margin: 0;

}

header.primary p.subtitle {
  font-size: 1.3rem;
  margin: 10px 0 20px;
  letter-spacing: .2px;
}

header.primary ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

header.primary ul li {
  flex: 1;
  text-align: center;
}

header.primary ul a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 16px;
  text-decoration: none;
  background-color: rgb(176, 201, 255);
  transition: all 0.2s ease;
  color: black;
}

header.primary ul a:hover {
  background-color: #a1bdff;
}


main {
    display: grid;
    gap: 20px;
    max-width: 80vw;
    margin: 20px auto;
    grid-template-areas:
        "header header"
        "faq faq"
        "lcontent rcontent"
        "footer footer"
    ;
}

header {
    grid-area: header;
}

#lcontent {
    grid-area: lcontent;
}

#rcontent {
    grid-area: rcontent;
}

#faq {
    grid-area: faq;
}

#aside header{
    text-align: center;
}

footer {
    grid-area: footer;
    text-align: center;
}